---
---

// Imports
@import "normalize";


// Mixins & Vars
$navy_bg:             #263648;
$navy_bg_light:       #2f4358;
$blue_text_drk:       #6784a2;
$blue_text:           #66adfb;
$blue_text_lht:       #97afc8;
$blue_light:          #d2dae3;
$green:               #00bd9c;
$red:                 #ff6d6f;
$yellow:              #f8f65e;
$purple:              #d070d1;
$frost:               #e5e5e5;

$baseSpacingUnit:     30px;
$searchBarHeight:     60px;


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { 
  background-color: $navy_bg; 
  font-size: 100%;
  
}



body {
  background-color: $frost;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:1.5;
}

.searchBar {
  background-color: $navy_bg;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: $searchBarHeight;

  text-align: center;
}


.gifViewer {
  padding: $searchBarHeight+$baseSpacingUnit $baseSpacingUnit $baseSpacingUnit;
  text-align: center;
}
  .gifViewer-img {
    min-height: 300px;
  }



// List of gifs
.gifCollection {
  padding: $baseSpacingUnit;
}


// Set of gifs
.gifSet {

}

  .gifSet-title {

  }

  .gifSet-list {

  }

    .gifSet-list-item {

      a {

      }
    }
