<ul>
  <li>
gifs/al-bundy    <ul>
      <li>
        <a href="gifs/al-bundy/al-bundy-confused.gif" class="gif">al-bundy-confused.gif</a>
      </li>
      <li>
        <a href="gifs/al-bundy/al-bundy-excited.gif" class="gif">al-bundy-excited.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/angry    <ul>
      <li>
        <a href="gifs/angry/alen-rickman.gif" class="gif">alen-rickman.gif</a>
      </li>
      <li>
        <a href="gifs/angry/amy-pohler-rage.gif" class="gif">amy-pohler-rage.gif</a>
      </li>
      <li>
        <a href="gifs/angry/chris-farley.gif" class="gif">chris-farley.gif</a>
      </li>
      <li>
        <a href="gifs/angry/chuck-norris-punch.gif" class="gif">chuck-norris-punch.gif</a>
      </li>
      <li>
        <a href="gifs/angry/conan-ragequit.gif" class="gif">conan-ragequit.gif</a>
      </li>
      <li>
        <a href="gifs/angry/DataBSOD.gif" class="gif">DataBSOD.gif</a>
      </li>
      <li>
        <a href="gifs/angry/frustrated-cpu-smash.gif" class="gif">frustrated-cpu-smash.gif</a>
      </li>
      <li>
        <a href="gifs/angry/jumps-out-window2.gif" class="gif">jumps-out-window2.gif</a>
      </li>
      <li>
        <a href="gifs/angry/Kramer-whaaa.gif" class="gif">Kramer-whaaa.gif</a>
      </li>
      <li>
        <a href="gifs/angry/noooo.gif" class="gif">noooo.gif</a>
      </li>
      <li>
        <a href="gifs/angry/obama-kicks-door.gif" class="gif">obama-kicks-door.gif</a>
      </li>
      <li>
        <a href="gifs/angry/office-tableflip.gif" class="gif">office-tableflip.gif</a>
      </li>
      <li>
        <a href="gifs/angry/outta-here.gif" class="gif">outta-here.gif</a>
      </li>
      <li>
        <a href="gifs/angry/robin-doesnt-work.gif" class="gif">robin-doesnt-work.gif</a>
      </li>
      <li>
        <a href="gifs/angry/smash-phone.gif" class="gif">smash-phone.gif</a>
      </li>
      <li>
        <a href="gifs/angry/stab-berserker-barrage.gif" class="gif">stab-berserker-barrage.gif</a>
      </li>
      <li>
        <a href="gifs/angry/stick-fts.gif" class="gif">stick-fts.gif</a>
      </li>
      <li>
        <a href="gifs/angry/stick-fuuuu.gif" class="gif">stick-fuuuu.gif</a>
      </li>
      <li>
        <a href="gifs/angry/stick-rage.gif" class="gif">stick-rage.gif</a>
      </li>
      <li>
        <a href="gifs/angry/whyyyyy.gif" class="gif">whyyyyy.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/breaking-bad    <ul>
      <li>
        <a href="gifs/breaking-bad/bitch.gif" class="gif">bitch.gif</a>
      </li>
      <li>
        <a href="gifs/breaking-bad/coward.gif" class="gif">coward.gif</a>
      </li>
      <li>
        <a href="gifs/breaking-bad/fuck-your-eyebrows.gif" class="gif">fuck-your-eyebrows.gif</a>
      </li>
      <li>
        <a href="gifs/breaking-bad/goddamn-right.gif" class="gif">goddamn-right.gif</a>
      </li>
      <li>
        <a href="gifs/breaking-bad/yeah-bitch.gif" class="gif">yeah-bitch.gif</a>
      </li>
      <li>
        <a href="gifs/breaking-bad/yeah-science.gif" class="gif">yeah-science.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/escaladed-quickly    <ul>
      <li>
        <a href="gifs/escaladed-quickly/home-to-fire.gif" class="gif">home-to-fire.gif</a>
      </li>
      <li>
        <a href="gifs/escaladed-quickly/oh-god-its-cancer.gif" class="gif">oh-god-its-cancer.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/excited    <ul>
      <li>
        <a href="gifs/excited/al-bundy-excited.gif" class="gif">al-bundy-excited.gif</a>
      </li>
      <li>
        <a href="gifs/excited/carlton-dance.gif" class="gif">carlton-dance.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/fail    <ul>
      <li>
        <a href="gifs/fail/baptized.gif" class="gif">baptized.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/favorites    <ul>
      <li>
        <a href="gifs/favorites/baptized.gif" class="gif">baptized.gif</a>
      </li>
      <li>
        <a href="gifs/favorites/old-man-heart-attack.gif" class="gif">old-man-heart-attack.gif</a>
      </li>
      <li>
        <a href="gifs/favorites/shots-fired-compilation.gif" class="gif">shots-fired-compilation.gif</a>
      </li>
      <li>
        <a href="gifs/favorites/stab-berserker-barrage.gif" class="gif">stab-berserker-barrage.gif</a>
      </li>
      <li>
        <a href="gifs/favorites/white-people.gif" class="gif">white-people.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/fresh-prince    <ul>
      <li>
        <a href="gifs/fresh-prince/carlton-dance.gif" class="gif">carlton-dance.gif</a>
      </li>
      <li>
        <a href="gifs/fresh-prince/scream.gif" class="gif">scream.gif</a>
      </li>
      <li>
        <a href="gifs/fresh-prince/will-dance-club.gif" class="gif">will-dance-club.gif</a>
      </li>
      <li>
        <a href="gifs/fresh-prince/will-dance.gif" class="gif">will-dance.gif</a>
      </li>
      <li>
        <a href="gifs/fresh-prince/will-scared.gif" class="gif">will-scared.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/frustrated    <ul>
      <li>
        <a href="gifs/frustrated/robin-doesnt-work.gif" class="gif">robin-doesnt-work.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/happy    <ul>
      <li>
        <a href="gifs/happy/al-bundy-excited.gif" class="gif">al-bundy-excited.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/jurassic-park    <ul>
      <li>
        <a href="gifs/jurassic-park/come-quickly-comon.gif" class="gif">come-quickly-comon.gif</a>
      </li>
      <li>
        <a href="gifs/jurassic-park/dennis-nedry-ah-ah-ah.gif" class="gif">dennis-nedry-ah-ah-ah.gif</a>
      </li>
      <li>
        <a href="gifs/jurassic-park/hold-onto-ur-butts.gif" class="gif">hold-onto-ur-butts.gif</a>
      </li>
      <li>
        <a href="gifs/jurassic-park/jello-jiggle.gif" class="gif">jello-jiggle.gif</a>
      </li>
      <li>
        <a href="gifs/jurassic-park/life-finds-a-way.gif" class="gif">life-finds-a-way.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/laughing    <ul>
      <li>
        <a href="gifs/laughing/50-cent-laughing-small.gif" class="gif">50-cent-laughing-small.gif</a>
      </li>
      <li>
        <a href="gifs/laughing/dumb-dumber-laugh-2.gif" class="gif">dumb-dumber-laugh-2.gif</a>
      </li>
      <li>
        <a href="gifs/laughing/dumb-dumber-laugh.gif" class="gif">dumb-dumber-laugh.gif</a>
      </li>
      <li>
        <a href="gifs/laughing/milk-out-noze.gif" class="gif">milk-out-noze.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/mind-blown    <ul>
      <li>
        <a href="gifs/mind-blown/kramer-mind-blown.gif" class="gif">kramer-mind-blown.gif</a>
      </li>
      <li>
        <a href="gifs/mind-blown/magic.gif" class="gif">magic.gif</a>
      </li>
      <li>
        <a href="gifs/mind-blown/mind-blown-2.gif" class="gif">mind-blown-2.gif</a>
      </li>
      <li>
        <a href="gifs/mind-blown/mind-blown.gif" class="gif">mind-blown.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/no    <ul>
      <li>
        <a href="gifs/no/dikembe-mutumbo-nope.gif" class="gif">dikembe-mutumbo-nope.gif</a>
      </li>
      <li>
        <a href="gifs/no/no_way_Neil_deGrasse_Tyson.gif" class="gif">no_way_Neil_deGrasse_Tyson.gif</a>
      </li>
      <li>
        <a href="gifs/no/QA-rejected.gif" class="gif">QA-rejected.gif</a>
      </li>
      <li>
        <a href="gifs/no/tracey-jordan-nope.gif" class="gif">tracey-jordan-nope.gif</a>
      </li>
      <li>
        <a href="gifs/no/wave-denied-nope.gif" class="gif">wave-denied-nope.gif</a>
      </li>
      <li>
        <a href="gifs/no/whatno.gif" class="gif">whatno.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/office-space    <ul>
      <li>
        <a href="gifs/office-space/looks-like-im-working.gif" class="gif">looks-like-im-working.gif</a>
      </li>
      <li>
        <a href="gifs/office-space/million-dollars.gif" class="gif">million-dollars.gif</a>
      </li>
      <li>
        <a href="gifs/office-space/out-of-here.gif" class="gif">out-of-here.gif</a>
      </li>
      <li>
        <a href="gifs/office-space/pc-load-letter.gif" class="gif">pc-load-letter.gif</a>
      </li>
      <li>
        <a href="gifs/office-space/work-itself-out.gif" class="gif">work-itself-out.gif</a>
      </li>
      <li>
        <a href="gifs/office-space/worst-idea.gif" class="gif">worst-idea.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/omg    <ul>
      <li>
        <a href="gifs/omg/36-Friday-Damn.gif" class="gif">36-Friday-Damn.gif</a>
      </li>
      <li>
        <a href="gifs/omg/austin-powers-omg.gif" class="gif">austin-powers-omg.gif</a>
      </li>
      <li>
        <a href="gifs/omg/fresh-prince-omg.gif" class="gif">fresh-prince-omg.gif</a>
      </li>
      <li>
        <a href="gifs/omg/Kramer-whaaa.gif" class="gif">Kramer-whaaa.gif</a>
      </li>
      <li>
        <a href="gifs/omg/omg.gif" class="gif">omg.gif</a>
      </li>
      <li>
        <a href="gifs/omg/ooooo.gif" class="gif">ooooo.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/sad    <ul>
      <li>
        <a href="gifs/sad/baseball-cry.gif" class="gif">baseball-cry.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/scared    <ul>
      <li>
        <a href="gifs/scared/3FlzE.gif" class="gif">3FlzE.gif</a>
      </li>
      <li>
        <a href="gifs/scared/ahhhhh.gif" class="gif">ahhhhh.gif</a>
      </li>
      <li>
        <a href="gifs/scared/scared-cat.gif" class="gif">scared-cat.gif</a>
      </li>
      <li>
        <a href="gifs/scared/scared-cats.gif" class="gif">scared-cats.gif</a>
      </li>
      <li>
        <a href="gifs/scared/will-scared.gif" class="gif">will-scared.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/seinfeld    <ul>
      <li>
        <a href="gifs/seinfeld/george-shocked.gif" class="gif">george-shocked.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/kramer-eat-in-bed.gif" class="gif">kramer-eat-in-bed.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/kramer-fall.gif" class="gif">kramer-fall.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/kramer-mind-blown.gif" class="gif">kramer-mind-blown.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/kramer-shocked-2.gif" class="gif">kramer-shocked-2.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/kramer-shocked.gif" class="gif">kramer-shocked.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/kramer-snow-face.gif" class="gif">kramer-snow-face.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/kramer-surprise.gif" class="gif">kramer-surprise.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/kramer-thats-true.gif" class="gif">kramer-thats-true.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/Kramer-whaaa.gif" class="gif">Kramer-whaaa.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/seinfeld-had-enough.gif" class="gif">seinfeld-had-enough.gif</a>
      </li>
      <li>
        <a href="gifs/seinfeld/seinfeld-shocked.gif" class="gif">seinfeld-shocked.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/shots-fired    <ul>
      <li>
        <a href="gifs/shots-fired/shots-fired-compilation.gif" class="gif">shots-fired-compilation.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/smh    <ul>
      <li>
        <a href="gifs/smh/wire-smh.gif" class="gif">wire-smh.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/the-big-lebowski    <ul>
      <li>
        <a href="gifs/the-big-lebowski/deal-with-it.gif" class="gif">deal-with-it.gif</a>
      </li>
      <li>
        <a href="gifs/the-big-lebowski/fuckin-amateurs.gif" class="gif">fuckin-amateurs.gif</a>
      </li>
      <li>
        <a href="gifs/the-big-lebowski/give-a-shit-rules.gif" class="gif">give-a-shit-rules.gif</a>
      </li>
      <li>
        <a href="gifs/the-big-lebowski/no-worries.gif" class="gif">no-worries.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/thumbs-up    <ul>
      <li>
        <a href="gifs/thumbs-up/chuck-norris.gif" class="gif">chuck-norris.gif</a>
      </li>
      <li>
        <a href="gifs/thumbs-up/jakie-chan-thumbsup.gif" class="gif">jakie-chan-thumbsup.gif</a>
      </li>
      <li>
        <a href="gifs/thumbs-up/suits-thumbsup.gif" class="gif">suits-thumbsup.gif</a>
      </li>
      <li>
        <a href="gifs/thumbs-up/terminator.gif" class="gif">terminator.gif</a>
      </li>
      <li>
        <a href="gifs/thumbs-up/thumbs-up-levar-burton.gif" class="gif">thumbs-up-levar-burton.gif</a>
      </li>
      <li>
        <a href="gifs/thumbs-up/thumbs-up.gif" class="gif">thumbs-up.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/wasted    <ul>
      <li>
        <a href="gifs/wasted/old-man-heart-attack.gif" class="gif">old-man-heart-attack.gif</a>
      </li>
      <li>
        <a href="gifs/wasted/table-side-break.gif" class="gif">table-side-break.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/web-dev    <ul>
      <li>
        <a href="gifs/web-dev/family-guy-css.gif" class="gif">family-guy-css.gif</a>
      </li>
      <li>
        <a href="gifs/web-dev/frustrated-cpu-smash.gif" class="gif">frustrated-cpu-smash.gif</a>
      </li>
      <li>
        <a href="gifs/web-dev/robin-doesnt-work.gif" class="gif">robin-doesnt-work.gif</a>
      </li>
      <li>
        <a href="gifs/web-dev/stick-fts.gif" class="gif">stick-fts.gif</a>
      </li>
      <li>
        <a href="gifs/web-dev/stick-fuuuu.gif" class="gif">stick-fuuuu.gif</a>
      </li>
      <li>
        <a href="gifs/web-dev/stick-rage.gif" class="gif">stick-rage.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/why-you    <ul>
      <li>
        <a href="gifs/why-you/i-see-what-you-did-there.gif" class="gif">i-see-what-you-did-there.gif</a>
      </li>
    </ul>
  </li>
  <li>
gifs/will-ferrell    <ul>
      <li>
        <a href="gifs/will-ferrell/air-juggling.gif" class="gif">air-juggling.gif</a>
      </li>
      <li>
        <a href="gifs/will-ferrell/amateur-hour.gif" class="gif">amateur-hour.gif</a>
      </li>
      <li>
        <a href="gifs/will-ferrell/boy-that-escalated-quickly.gif" class="gif">boy-that-escalated-quickly.gif</a>
      </li>
      <li>
        <a href="gifs/will-ferrell/kind-of-a-big-deal.gif" class="gif">kind-of-a-big-deal.gif</a>
      </li>
      <li>
        <a href="gifs/will-ferrell/san-diego-whales-vigina.gif" class="gif">san-diego-whales-vigina.gif</a>
      </li>
      <li>
        <a href="gifs/will-ferrell/well-dick.gif" class="gif">well-dick.gif</a>
      </li>
    </ul>
  </li>
</ul>
